@media (max-width: 1220px){
  .mouse-element{
    bottom: 3%;
    width: 30px;
    margin-left: -15px;
  }

  .wrapper-fix{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .about--item-element{
    width: 22%;
    margin-right: 3%;

    &:last-child{
      margin-right: 0;
    }
  }

  .program--content{
    padding-right: 30px;
    padding-left: 50px;

    &.right{
      padding-right: 50px;
      padding-left: 30px;
    }
  }

}

@media (max-width: 1100px){
  .wrapper-logo {
    .logo{
      +.logo{
        margin-left: 30px;
      }
    }
  }

  .header-content-wrapper {
    h1{
      font-size: 10.4rem;
      line-height: 10.4rem;
    }

    .second-title{
      font-size: 9rem;
      line-height: 9rem;
    }
  }
}

/* ==========================================================================
               MOBILE STYLES
   ========================================================================== */
@media (max-width: 992px){

  .program--image-block{
    position: relative;
    width: 100%;
    height:calc(50vw);

    &.right{
      left: 0;
    }

    &.left{}
  }

  .program--bg-block{
    width: 100%;

    &.right{
      left: 0;
    }
  }
}
/* ==========================================================================
                END MOBILE STYLES
   ========================================================================== */

@media (max-width: 900px){

  .navigation-list {
    .link-nav+.link-nav{
      margin-left: 5px;
    }
  }
  
  .partner-element{
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;

    &:nth-child(3n+3){
      text-align: center;
      justify-content: center;
    }

    &:nth-child(3n+2){
      text-align: center;
      justify-content: center;
    }

    img{
      max-width: 100%;
    }

    .partner-element{
      margin-top: 0;
    }
  }

  .list-info-partners{
    margin-bottom: 50px;
  }

  .item-info-partners{
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
  }

  .title-support{
    width: 100%;
    margin-bottom: 20px;
  }
}


@media (max-width: 768px){
  .wrapper-logo {
    .logo{
      width: 50px;

      img{
        width: 100%;
      }

      + .logo{
        margin-left: 15px;
      }
    }
  }

  .header{
    align-items: center;
    transform: translate(0,-120%);
  }

  .mobile-btn-menu{
    display: block;
  }

  .mobile-nav-bar{
    display: block;
  }

  .navigation-list{
    display: none;
  }

  .header{
    position: relative;
    margin-bottom: 30px;

    .navigation-list{
      text-align: center;
    }
  }

  .navigation-list {

    .link-nav {
      margin-right: 10px;
      padding: 0 10px;
    }
  }

  .header-content-wrapper {
    padding: 0 10px;

    .title-project{
      @include fontStyle(20,20,0);
      margin-bottom: 15px;
    }

    h1{
      @include fontStyle(84,84,0);
      margin-bottom: 20px;
    }

    .second-title{
      @include fontStyle(70,70,0);
      margin-bottom: 40px;
    }
  }

  .mouse-element{
    display: none;
  }

  .about-elements{
    justify-content: space-around;
  }

  .about--item-element{
    width: 46%;
    margin-right: 0;
  }

  .about--image{
    padding-bottom: 70px;
  }

  .program--content{
    padding: 0 30px !important;
    width: 100%;
    max-width: 100%;
  }

  .program--bg-block{
    &.black-bg{
      background-image: linear-gradient(180deg, #ff4d5a 0%, #f02028 100%);
    }
  }

  .partner--item{
    width: 50%;
  }

  .two-columns {
    flex-wrap: wrap;

    .columns{
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .list-partners{
    display: block;
    margin-top: 60px;
  }

  .partner-element {
    width: 100%;
  }

  .custom-partner{
    height: auto;
    padding: 20px 0;
    flex-wrap: wrap;

    img + img{
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media (max-width: 630px){
  .container-support{
    img {
      max-width: 100%;

      + img{
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 550px){
  .header-content-wrapper {
    .title-project{
      @include fontStyle(20,20,0);
      margin-bottom: 15px;
    }

    h1{
      @include fontStyle(54,54,0);
      margin-bottom: 20px;
    }

    .second-title{
      @include fontStyle(40,40,0);
      margin-bottom: 40px;
    }
  }

  .partner--item{
    width: 70%;
    margin: 0 auto 40px;
  }
}

@media (max-width: 500px){
  .item-info-partners {
    width: 100%;
  }
}

@media (max-width: 320px){
  .about, .program--content, .news {
    h2{
      @include fontStyle(38,48,0);
    }
  }
}
